@using Project.Application.Models.VMs.PostVMs

@model List<PostDetailVM>

@foreach (var item in Model)
{
    <div class="col-md-12 grid-margin">
        <div class="card rounded">
            <div class="card-header">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <img class="img-xs rounded-circle" src="@item.AuthorPhoto" alt>
                        <div class="ml-2">
                            <p>@item.AuthorFullName</p>
                            <p class="tx-11 text-muted">@item.CreatedDate.ToShortDateString()</p>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="btn p-0" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal icon-lg pb-3px">
                                <circle cx="12" cy="12" r="1"></circle>
                                <circle cx="19" cy="12" r="1"></circle>
                                <circle cx="5" cy="12" r="1"></circle>
                            </svg>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-meh icon-sm mr-2">
                                    <circle cx="12" cy="12" r="10"></circle>
                                    <line x1="8" y1="15" x2="16" y2="15"></line>
                                    <line x1="9" y1="9" x2="9.01" y2="9"></line>
                                    <line x1="15" y1="9" x2="15.01" y2="9"></line>
                                </svg> <span class>Unfollow</span>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" asp-controller="Post" asp-action="SinglePost" asp-route-postId="@item.PostId">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-corner-right-up icon-sm mr-2">
                                    <polyline points="10 9 15 4 20 9"></polyline>
                                    <path d="M4 20h7a4 4 0 0 0 4-4V4"></path>
                                </svg> <span class>Post Detayı</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <img src="@item.ImagePath" class="img-fluid" />
               @Html.Raw(item.Content)
            </div>
            <div class="card-footer">
                <div class="d-flex post-actions">
                    <a href="javascript:;" class="d-flex align-items-center text-muted mr-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart icon-md">
                            <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                        </svg>
                        <p class="d-none d-md-block ml-2">Like</p>
                    </a>
                    <a href="javascript:;" class="d-flex align-items-center text-muted mr-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square icon-md">
                            <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
                        </svg>
                        <p class="d-none d-md-block ml-2">Comment</p>
                    </a>
                    <a href="javascript:;" class="d-flex align-items-center text-muted">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-share icon-md">
                            <path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8"></path>
                            <polyline points="16 6 12 2 8 6"></polyline>
                            <line x1="12" y1="2" x2="12" y2="15"></line>
                        </svg>
                        <p class="d-none d-md-block ml-2">Share</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
}


