@using Project.Application.Models.VMs.PostVMs

@model List<PostDetailVM>

@foreach (var item in Model)
{
    <div class="col-md-12 grid-margin">
        <div class="card rounded">
            <div class="card-header">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <img class="img-xs rounded-circle" src="@item.AuthorPhoto" alt>
                        <div class="ml-2">
                            <p>@item.AuthorFullName</p>
                            <p class="tx-11 text-muted">@item.CreatedDate.ToShortDateString()</p>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="btn p-0" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal icon-lg pb-3px">
                                <circle cx="12" cy="12" r="1"></circle>
                                <circle cx="19" cy="12" r="1"></circle>
                                <circle cx="5" cy="12" r="1"></circle>
                            </svg>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                            <a class="dropdown-item d-flex align-items-center" asp-controller="Post" asp-action="SinglePost" asp-route-postId="@item.PostId">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-corner-right-up icon-sm mr-2">
                                    <polyline points="10 9 15 4 20 9"></polyline>
                                    <path d="M4 20h7a4 4 0 0 0 4-4V4"></path>
                                </svg> <span class>Post Detayı</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-center" style="height:200px;">
                    <img src="@item.ImagePath" class="img-fluid" />
                </div>
                @Html.Raw(item.Content)
            </div>
        </div>
    </div>
}


