@using Project.Application.Models.VMs.PostVMs

@model List<PostGridVM>

@foreach (var item in Model)
{
    <div class="post-entry-1 border-bottom">
        <div class="post-meta">
            <span class="date">@item.GenreName</span>
            <span class="mx-1">&bullet;</span>
            <span>@item.CreatedDate.ToShortDateString()</span>
        </div>
        <h2 class="mb-2">
            <a asp-controller="Post" asp-action="SinglePost" asp-route-postID="@item.PostId">
                @item.Title
            </a>
        </h2>
        <span class="author mb-3 d-block">@item.AuthorFullName</span>
    </div>
}
