@using Microsoft.AspNetCore.Identity;
@using Project.Application.Models.VMs.PostVMs;
@using Project.Domain.Entities;

@{
    ViewData["Title"] = "SinglePost";
}
@inject UserManager<AppUser> userManager
@{
    AppUser appUser = await userManager.GetUserAsync(User);
}

@model PostDetailVM
<style>
    .green-color {
        color: green;
    }

    .red-color {
        color: red;
    }

    /* Overlay */
    .overlay {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9998;
    }

    /* Popup görünümü */
    .popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        border: 1px solid #ddd;
        padding: 20px;
        z-index: 9999;
    }

    /* Popup içeriği */
    .popup-content {
        text-align: center;
    }

    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 120px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
    .dropdown-item{
        cursor:pointer;
    }
</style>
<section class="single-post-content">
    <div class="container">
        <div class="row">
            <div class="col-md-9 post-content" data-aos="fade-up">

                <!-- ======= Single Post Content ======= -->
                <div class="single-post">
                    <div class="post-meta">
                        <span class="date">@Model.GenreName</span>
                        <span class="mx-1">&bullet;</span>
                        <span>@Model.CreatedDate.ToShortDateString()</span>
                        <span class="mx-1">&bullet;</span>
                        <span>
                            Görüntülenme
                            <i class="fa fa-eye"></i>
                            @Model.ClickCount
                        </span>
                        <span class="mx-1">&bullet;</span>
                        <span>
                            Beğenİ Sayısı
                            <i class="bi bi-hand-thumbs-up-fill">
                            </i>
                            @Model.LikeCount
                        </span>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <span class="mx-1">&bullet;</span>
                            <span>Beğeni Durumu:</span>
                            @if (Model.IsLiked)
                            {
                                <i class="fa fa-thumbs-up green-color" onclick="UnlikePost(this,@Model.PostId)"></i>
                            }
                            else
                            {
                                <i class="fa fa-thumbs-down red-color" onclick="LikePost(this,@Model.PostId)"></i>
                            }
                            @if(Model.AppUserId == appUser.Id)
                            {
                                <div class="dropdown d-inline-block ml-auto">
                                    <button class="btn btn-reply dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-gear-fill"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                                        <li>
                                            <a class="dropdown-item" id="openPopup" onclick="UpdatePostPopup(@Model.PostId)">
                                                <i class="bi bi-pencil-fill"></i> Düzenle
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" onclick="DeletePost(@Model.PostId)">
                                                <i class="bi bi-trash-fill"></i> Sil
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="overlay" id="overlay"></div>
                                <!-- Popup içeriği buraya gelecek -->
                                <div>
                                    <div class="popup" id="popup">
                                        <span class="close" id="closePopup">&times;</span>
                                        @* partialdan gelecek*@
                                    </div>
                                </div>
                            }
                           
                        }
                    </div>
                    <img src="@Model.ImagePath" alt="" class="img-fluid">
                    <h1 class="mb-5">@Model.Title</h1>
                    <div>
                        @Html.Raw(Model.Content)
                    </div>
                </div><!-- End Single Post Content -->
                <!-- ======= Comments ======= -->
                <div class="comments">
                    <h5 class="comment-title py-4">@Model.Comments.Count Yorum</h5>
                    <div id="comments">
                        @foreach (var item in Model.Comments)
                        {

                            <div class="comment d-flex mb-4">
                                <div class="flex-shrink-0">
                                    <div class="avatar avatar-sm rounded-circle">
                                        <img class="avatar-img" src="~/mainTemplate/assets/img/person-5.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                                <div class="flex-grow-1 ms-2 ms-sm-3">
                                    <div class="comment-meta d-flex align-items-baseline">
                                        <h6 class="me-2">@item.AppUserFullName</h6>
                                        <span class="text-muted">
                                            @{
                                                TimeSpan difference = DateTime.Now - item.CreatedDate;
                                                int sayi = 0;
                                                string harf = "";
                                                if (difference.TotalDays >= 7)
                                                {
                                                    int weeks = (int)(difference.TotalDays / 7);
                                                    sayi = weeks;
                                                    harf = "h";

                                                }
                                                else if (difference.TotalDays >= 1)
                                                {
                                                    sayi = (int)difference.TotalDays;
                                                    harf = "g";
                                                }
                                                else if (difference.TotalHours >= 1)
                                                {
                                                    sayi = (int)difference.TotalHours;
                                                    harf = "s";
                                                }
                                                else
                                                {
                                                    sayi = (int)difference.TotalMinutes;
                                                    harf = "dk";
                                                }
                                            }
                                            @sayi@harf
                                        </span>
                                    </div>
                                    <div class="comment-body">
                                        @item.Content
                                    </div>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <a class="btn reply-btn">
                                            <span class="text-muted">Yanıtla</span>
                                            <i class="bi bi-reply-fill"></i>
                                        </a>
                                        <div class="reply-form" style="display: none;">
                                            <div class="row justify-content-center mt-3">
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="col-12 mb-3">
                                                            <textarea class="form-control" id="replyContent-@item.CommentId" placeholder="Yanıt İçeriği" cols="10" rows="3"></textarea>
                                                        </div>
                                                        <div class="col-12">
                                                            <input type="submit" class="btn btn-primary" onclick="CreateReply(@item.CommentId)" value="Yanıtla">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @*Reply kısmı *@
                                    <div class="comment-replies bg-light p-3 mt-3 rounded">
                                        <h6 class="comment-replies-title mb-4 text-muted text-uppercase">@item.Replies.Count Yanıt</h6>

                                        <div id="replies-@item.CommentId">
                                            @foreach (var reply in item.Replies)
                                            {
                                                <div class="reply d-flex mb-4">
                                                    <div class="flex-shrink-0">
                                                        <div class="avatar avatar-sm rounded-circle">
                                                            <img class="avatar-img" src="assets/img/person-4.jpg" alt="" class="img-fluid">
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1 ms-2 ms-sm-3">
                                                        <div class="reply-meta d-flex align-items-baseline">
                                                            <h6 class="mb-0 me-2">@reply.AppUserFullName</h6>
                                                            <span class="text-muted">
                                                                @{
                                                                    TimeSpan differenceRep = DateTime.Now - reply.CreatedDate;
                                                                    int sayiRep = 0;
                                                                    string harfRep = "";
                                                                    if (difference.TotalDays >= 7)
                                                                    {
                                                                        int weeks = (int)(differenceRep.TotalDays / 7);
                                                                        sayiRep = weeks;
                                                                        harfRep = "h";

                                                                    }
                                                                    else if (differenceRep.TotalDays >= 1)
                                                                    {
                                                                        sayiRep = (int)differenceRep.TotalDays;
                                                                        harfRep = "g";
                                                                    }
                                                                    else if (differenceRep.TotalHours >= 1)
                                                                    {
                                                                        sayiRep = (int)differenceRep.TotalHours;
                                                                        harfRep = "s";
                                                                    }
                                                                    else
                                                                    {
                                                                        sayiRep = (int)differenceRep.TotalMinutes;
                                                                        harfRep = "dk";
                                                                    }
                                                                }
                                                                @sayiRep@harfRep
                                                            </span>
                                                        </div>
                                                        <div class="reply-body">
                                                            @reply.Content
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                </div><!-- End Comments -->
                <!-- ======= Comments Form ======= -->
                <div class="row justify-content-center mt-5">

                    <div class="col-lg-12">
                        <h5 class="comment-title">Yorum Yaz</h5>
                        <div class="row">
                            <div class="col-12 mb-3">
                                <label for="comment-message">Yorum</label>

                                <textarea class="form-control" id="content" placeholder="Yorum İçeriği" cols="30" rows="10"></textarea>
                            </div>
                            <div class="col-12">
                                <input type="submit" class="btn btn-primary" onclick="CreateComment(@Model.PostId)" value="Yorum Yap">
                            </div>
                        </div>
                    </div>
                </div><!-- End Comments Form -->

            </div>
            <div class="col-md-3">
                <!-- ======= Sidebar ======= -->
                <div class="aside-block">

                    <ul class="nav nav-pills custom-tab-nav mb-4" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-popular-tab" data-bs-toggle="pill" data-bs-target="#pills-popular" type="button" role="tab" aria-controls="pills-popular" aria-selected="true">Popüler</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-trending-tab" data-bs-toggle="pill" data-bs-target="#pills-trending" type="button" role="tab" aria-controls="pills-trending" aria-selected="false">Trends</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-latest-tab" data-bs-toggle="pill" data-bs-target="#pills-latest" type="button" role="tab" aria-controls="pills-latest" aria-selected="false">Son Postlar</button>
                        </li>
                    </ul>

                    <div class="tab-content" id="pills-tabContent">

                        <!-- Popular -->
                        <div class="tab-pane fade show active" id="pills-popular" role="tabpanel" aria-labelledby="pills-popular-tab">
  
                        </div> <!-- End Popular -->
                        <!-- Trending -->
                        <div class="tab-pane fade" id="pills-trending" role="tabpanel" aria-labelledby="pills-trending-tab">
  
                        </div> <!-- End Trending -->
                        <!-- Latest -->
                        <div class="tab-pane fade" id="pills-latest" role="tabpanel" aria-labelledby="pills-latest-tab">

                        </div> <!-- End Latest -->

                    </div>
                </div>

                <div class="aside-block">
                    <h3 class="aside-title">Video</h3>
                    <div class="video-post">
                        <a href="https://www.youtube.com/watch?v=YZ5tOe7y9x4" class="glightbox link-video">
                            <span class="bi-play-fill"></span>
                            <img src="~/mainTemplate/assets/img/post-landscape-5.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div><!-- End Video -->

                <div class="aside-block">
                    <h3 class="aside-title">Categories</h3>
                    <ul class="aside-links list-unstyled">
                        <li><a asp-action="Index" asp-controller="Category" asp-route-categoryName="Teknoloji" asp-route-returnUrl="@Context.Request.Path"><i class="bi bi-chevron-right"></i> Teknoloji</a></li>
                        <li><a asp-action="Index" asp-controller="Category" asp-route-categoryName="Yazılım" asp-route-returnUrl="@Context.Request.Path"><i class="bi bi-chevron-right"></i> Yazılım</a></li>
                        <li><a asp-action="Index" asp-controller="Category" asp-route-categoryName="Spor" asp-route-returnUrl="@Context.Request.Path"><i class="bi bi-chevron-right"></i> Spor</a></li>
                        <li><a asp-action="Index" asp-controller="Category" asp-route-categoryName="Siyaset" asp-route-returnUrl="@Context.Request.Path"><i class="bi bi-chevron-right"></i> Siyaset</a></li>
                        <li><a asp-action="Index" asp-controller="Category" asp-route-categoryName="Otomotiv" asp-route-returnUrl="@Context.Request.Path"><i class="bi bi-chevron-right"></i> Otomotiv</a></li>
                        <li><a asp-action="Index" asp-controller="Category" asp-route-categoryName="Dünya" asp-route-returnUrl="@Context.Request.Path"><i class="bi bi-chevron-right"></i> Dünya</a></li>
                        <li><a asp-action="Index" asp-controller="Category" asp-route-categoryName="Donanım" asp-route-returnUrl="@Context.Request.Path"><i class="bi bi-chevron-right"></i> Donanım</a></li>
                    </ul>
                </div><!-- End Categories -->

                <div class="aside-block">
                    <h3 class="aside-title">Tags</h3>
                    <ul class="aside-tags list-unstyled">
                        <li><a asp-action="Index" asp-controller="Category" asp-route-categoryName="Teknoloji" asp-route-returnUrl="@Context.Request.Path">Teknoloji</a></li>
                        <li><a asp-action="Index" asp-controller="Category" asp-route-categoryName="Yazılım" asp-route-returnUrl="@Context.Request.Path">Yazılım</a></li>
                        <li><a asp-action="Index" asp-controller="Category" asp-route-categoryName="Spor" asp-route-returnUrl="@Context.Request.Path">Spor</a></li>
                        <li><a asp-action="Index" asp-controller="Category" asp-route-categoryName="Siyaset" asp-route-returnUrl="@Context.Request.Path">Siyaset</a></li>
                        <li><a asp-action="Index" asp-controller="Category" asp-route-categoryName="Otomotiv" asp-route-returnUrl="@Context.Request.Path">Otomotiv</a></li>
                        <li><a asp-action="Index" asp-controller="Category" asp-route-categoryName="Dünya" asp-route-returnUrl="@Context.Request.Path">Dünya</a></li>
                        <li><a asp-action="Index" asp-controller="Category" asp-route-categoryName="Donanım" asp-route-returnUrl="@Context.Request.Path">Donanım</a></li>
                    </ul>
                </div><!-- End Tags -->

            </div>
        </div>
    </div>
</section>

