@using Project.Domain.Entities
@{
    Layout = null;
}
@model AppUser

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">


    <title>social network user profile example - Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/profile.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="profile-page tx-13">
            <div class="row">
                <div class="col-12 grid-margin">
                    <div class="profile-header">
                        <div class="cover">
                            <div class="gray-shade"></div>
                            <figure>
                                <img src="~/images/kaer-blog-high-resolution-logo.png" width="500" height="300" alt="profile cover">
                            </figure>
                            <div class="cover-body d-flex justify-content-between align-items-center">
                                <div>
                                    <img class="profile-pic" src="@Model.ImagePath" alt="profile">
                                    <span class="profile-name">@Model.FullName</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row profile-body">

                <div class="d-none d-md-block col-md-4 col-xl-3 left-wrapper">
                    <div class="card rounded">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <h6 class="card-title mb-0">Hakkımda</h6>
                                <div class="dropdown">
                                    <button class="btn p-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal icon-lg text-muted pb-3px">
                                            <circle cx="12" cy="12" r="1"></circle>
                                            <circle cx="19" cy="12" r="1"></circle>
                                            <circle cx="5" cy="12" r="1"></circle>
                                        </svg>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a asp-action="UpdateUser" asp-controller="Profile" asp-route-id ="@Model.Id" class="dropdown-item d-flex align-items-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 icon-sm mr-2">
                                                <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                                            </svg> <span>Güncelle</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <p>@Model.About</p>
                            <div class="mt-3">
                                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Katılma Tarihi</label>
                                <p class="text-muted">@Model.CreatedDate.ToShortDateString()</p>
                            </div>
                            <div class="mt-3">
                                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Yaş</label>
                                <p class="text-muted">
                                    @((DateTime.Now.Year) - ((DateTime)Model.BirthDate).Year)
                                </p>
                            </div>
                            <div class="mt-3">
                                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Cinsiyet</label>
                                <p class="text-muted">
                                    @if (Model.Gender == Project.Domain.Enums.Gender.Male)
                                    {
                                        <span>Erkek</span>
                                    }
                                    else
                                    {
                                        <span>Kadın</span>
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-8 col-xl-9 middle-wrapper">
                    @if (User.IsInRole("Author"))
                    {
                        <div class="row" id="profile-post">
                        </div>
                    }
                    else
                    {
                        <p>Yazar Olmak İster Misin?</p>
                        <button onclick="BeAuthor('@Model.Id')">Yazar Ol</button>
                    }

                </div>

            </div>
        </div>
    </div>
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/profile.js"></script>
    <script type="text/javascript">

    </script>
</body>
</html>