<footer id="footer" class="footer">

    <div class="footer-content">
        <div class="container">

            <div class="row g-5">
                <div class="col-lg-4">
                    <h3 class="footer-heading">KaeR Blog Hakkında</h3>
                    <p>Teknoloji çağındayız ve her gün yeni bir yenilikle karşılaşıyoruz. Bu hızlı değişim ve gelişimin kalbinde ise inovasyon yatıyor. İnovasyon, sadece teknoloji alanında değil, aynı zamanda iş dünyasında, eğitimde, sağlıkta ve daha pek çok alanda hayatımızı şekillendiriyor. Bu blog, teknolojinin getirdiği yeniliklerin peşinde koşanlar için bir rehber niteliğinde.</p>
                    <p><a asp-controller="Home" asp-action="AboutUs" class="footer-link-more">Daha Fazlası</a></p>
                </div>
                <div class="col-6 col-lg-2">
                    <h3 class="footer-heading">Yönlendirmeler</h3>
                    <ul class="footer-links list-unstyled">
                        <li><a asp-action="Index" asp-controller="Home"><i class="bi bi-chevron-right"></i> Anasayfa</a></li>
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a asp-area="" asp-controller="User" asp-action="Register"><i class="bi bi-chevron-right"></i>Kayıt Ol</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="User" asp-action="Login"><i class="bi bi-chevron-right"></i>Giriş Yap</a>
                            </li>
                        }
                        else
                        {
                            if (User.IsInRole("Author"))
                            {
                                <li><a asp-action="Create" asp-controller="Post"><i class="bi bi-chevron-right"></i>Makale Yaz</a></li>
                            }
                        }
                        <li><a asp-controller="Home" asp-action="AboutUs"><i class="bi bi-chevron-right"></i> Hakkımızda</a></li>
                        <li><a asp-controller="Home" asp-action="ContactUs"><i class="bi bi-chevron-right"></i> İletişim</a></li>
                    </ul>
                </div>
                <div class="col-6 col-lg-2">
                    <h3 class="footer-heading">Kategoriler</h3>
                    <ul class="footer-links list-unstyled">
                        <li><a asp-action="Index" asp-controller="Category" asp-route-categoryName="Teknoloji" asp-route-returnUrl="@Context.Request.Path"><i class="bi bi-chevron-right"></i> Teknoloji</a></li>
                        <li><a asp-action="Index" asp-controller="Category" asp-route-categoryName="Yazılım" asp-route-returnUrl="@Context.Request.Path"><i class="bi bi-chevron-right"></i> Yazılım</a></li>
                        <li><a asp-action="Index" asp-controller="Category" asp-route-categoryName="Spor" asp-route-returnUrl="@Context.Request.Path"><i class="bi bi-chevron-right"></i> Spor</a></li>
                        <li><a asp-action="Index" asp-controller="Category" asp-route-categoryName="Siyaset" asp-route-returnUrl="@Context.Request.Path"><i class="bi bi-chevron-right"></i> Siyaset</a></li>
                        <li><a asp-action="Index" asp-controller="Category" asp-route-categoryName="Otomotiv" asp-route-returnUrl="@Context.Request.Path"><i class="bi bi-chevron-right"></i> Otomotiv</a></li>
                        <li><a asp-action="Index" asp-controller="Category" asp-route-categoryName="Dünya" asp-route-returnUrl="@Context.Request.Path"><i class="bi bi-chevron-right"></i> Dünya</a></li>
                        <li><a asp-action="Index" asp-controller="Category" asp-route-categoryName="Donanım" asp-route-returnUrl="@Context.Request.Path"><i class="bi bi-chevron-right"></i> Donanım</a></li>

                    </ul>
                </div>

                <div class="col-lg-4">
                    <h3 class="footer-heading">Son Postlar</h3>

                    <ul class="footer-links footer-blog-entry list-unstyled" id="latestPostFooter">


                    </ul>

                </div>
            </div>
        </div>
    </div>

    <div class="footer-legal">
        <div class="container">

            <div class="row justify-content-between">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    <div class="copyright">
                        © Copyright <strong><span>KaeRBlog</span></strong>. Tüm Hakları Saklıdır.
                    </div>

                    <div class="credits">
                       
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="social-links mb-3 mb-lg-0 text-center text-md-end">

                        <a href="https://www.instagram.com/kaganeris/" class="instagram"><i class="bi bi-instagram"></i></a>

                        <a href="https://www.linkedin.com/in/kaganeris/" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>

                </div>

            </div>

        </div>
    </div>

</footer>
