<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a asp-action="Index" asp-controller="Home" class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <img src="~/mainTemplate/assets/img/logo.png" alt="">
            <h1>KaeR Blog</h1>
        </a>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                <li class="dropdown">
                    <a ><span>Kategoriler</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                        <li><a asp-action="Index" asp-controller="Category" asp-route-categoryName="Teknoloji" asp-route-returnUrl="@Context.Request.Path">Teknoloji</a></li>
                        <li><a asp-action="Index" asp-controller="Category" asp-route-categoryName="Yazılım" asp-route-returnUrl="@Context.Request.Path">Yazılım</a></li>
                        <li><a asp-action="Index" asp-controller="Category" asp-route-categoryName="Spor" asp-route-returnUrl="@Context.Request.Path">Spor</a></li>
                        <li><a asp-action="Index" asp-controller="Category" asp-route-categoryName="Siyaset" asp-route-returnUrl="@Context.Request.Path">Siyaset</a></li>
                        <li><a asp-action="Index" asp-controller="Category" asp-route-categoryName="Otomotiv" asp-route-returnUrl="@Context.Request.Path">Otomotiv</a></li>
                        <li><a asp-action="Index" asp-controller="Category" asp-route-categoryName="Dünya" asp-route-returnUrl="@Context.Request.Path">Dünya</a></li>
                        <li><a asp-action="Index" asp-controller="Category" asp-route-categoryName="Donanım" asp-route-returnUrl="@Context.Request.Path">Donanım</a></li>
                    </ul>
                </li>

                <li><a asp-controller="Home" asp-action="AboutUs">Hakkımızda</a></li>
                <li><a asp-controller="Home" asp-action="ContactUs">İletişim</a></li>
                @if (!User.Identity.IsAuthenticated)
                {
                    <li>
                        <a asp-area="" asp-controller="User" asp-action="Register">Kayıt Ol</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="User" asp-action="Login">Giriş Yap</a>
                    </li>
                }
                else
                {
                    if (User.IsInRole("Author"))
                    {
                        <li><a  asp-action="Create" asp-controller="Post">Makale Yaz</a></li>
                    }
                    else if (User.IsInRole("Admin"))
                    {
                        <li><a asp-area="Admin" asp-action="Index" asp-controller="Home">Admin Paneli</a></li>
                    }
                    <li>
                        <a asp-area="" asp-controller="Profile" asp-action="Index">Profilim</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="User" asp-action="Logout">Çıkış Yap</a>
                    </li>
                }
            </ul>
        </nav><!-- .navbar -->

        <div class="position-relative">

            <a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a>
            <i class="bi bi-list mobile-nav-toggle"></i>

            <!-- ======= Search Form ======= -->
            <div class="search-form-wrap js-search-form-wrap">
                <form action="search-result.html" class="search-form">
                    <span class="icon bi-search"></span>
                    <input type="text" placeholder="Search" class="form-control">
                    <button class="btn js-search-close"><span class="bi-x"></span></button>
                </form>
            </div><!-- End Search Form -->

        </div>

    </div>

</header>